@mixin font-primary {
  font-family: $font-family-primary;
}

@mixin font-secondary {
  font-family: $font-family-secondary;
}

@mixin font-size($size) {
  font-size: $size;
}

@mixin font-weight($weight) {
  font-weight: $weight;
}
